extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.red.image.header
        img.image(src='/logo.png')
        .content
          | #{message}          
      h4= error.status
      pre #{error.stack}
