meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
title Compucorp Project X
link(rel='stylesheet', href='/node_modules/semantic-ui-css/semantic.min.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
